<div class="wz-big-container">
    <div class="left-wing"></div>
    <div class="wz-container">
        <div class="wz-inner" ng-swipe-left="$ctrl.moveContainer(1)" ng-swipe-right="$ctrl.moveContainer(-1)">
            <div class="wz-item">
                <div class="text-center h3">Route Color:</div>
                <div class="wz-grid">
                    <div class="wz-dot" ng-repeat="c in $ctrl.colors" ng-style="{'background-color': c.color}" ng-click="$ctrl.addProp({color: c})">
                        <div class="wz-label grid-label" ng-style="{color: c.text}">{{c.name}}</div>
                    </div>
                </div>
            </div>
            <div class="wz-item">
                <div class="text-center h3">Route Grade:</div>
                <div class="wz-grid">
                    <div class="wz-dot" ng-repeat="grade in $ctrl.grades" ng-click="$ctrl.addProp({grade: grade})">
                        <div class="wz-label grid-label">{{grade}}</div>
                    </div>
                </div>
            </div>

            <div class="wz-item">
                <div class="text-center h3">Route Location:</div>
                <div class="wz-grid">
                    <div class="wz-list-item" ng-repeat="location in $ctrl.locations" ng-click="$ctrl.addProp({location: location})">
                        <div class="wz-label list-label">{{location}}</div>
                    </div>
                </div>
                <br>
            </div>

            <div class="wz-item">
                <div class="text-center h3">Route Tags:</div>
                <p ng-click="$ctrl.moveContainer(1)">Next</p>
                <div class="wz-grid">
                    <div class="wz-list-item" ng-repeat="tag in $ctrl.tags" ng-click="$ctrl.addTag($event, tag)">
                        <div class="wz-label list-label">{{tag}}</div>
                    </div>
                </div>
            </div>
            <div class="wz-item">
                <div class="text-center h3">Review:</div>
                <div class="wz-grid">
                    <rt-route route="$ctrl.route"></rt-route>
                </div>
            </div>
        </div>
    </div>
    <div class="right-wing"></div>
</div>
