@import './bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Dosis:800');
@import './components/*';
@import './_util.scss';
.navbar-brand {
    font-family: 'Dosis';
    font-size: 3em;
}

.navbar-nav {
    li {
        a {
            border-radius: 10px;
            padding: 10px 15px;
            top: 10px;
            margin-right: 4px;
            font-weight: 600;
            &:hover {
                background-color: $gray-dark
            }
        }
    }
}
